@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* background-color: darkgray; */
    font-family: Lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

body {
    font-family: Dosis;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


img {
    width: 11rem;
    height: 11rem;
}

.shopping-cart img {
    min-width: 10rem;
    min-height: 10rem;
}
.productCards{
    min-width: 25rem !important;
}

.product-list{
    margin: 6rem;
    margin-left: 9rem;
}

.form-check-input{
    margin-top: 6rem !important;
}

.shopping-cart{
    margin-left: 10rem !important;
}

.payment {
    margin-top: 6rem !important;
    margin-right: 33rem !important;
}